
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

circle {
  r: 5;
}

.label_title {
  text-anchor: middle;
  vertical-align: top;
  fill: #0c0c0c;
  font-size: 20px;
  font-family: "Nanum Gothic";
}

#axes path {
  stroke-width: 2px;
  stroke: #4a4a4a;
}

#axes .tick {
    font-size: 15px;
}
