
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

#links line {
  fill: none;
  stroke: #0c0c0c;
  stroke-width: .5;
}

#nodes circle {
  stroke: none;
  fill: "#0c0c0c";
  r: 5.5;
}

#graph text {
  font-size: 8px;
  font-family: 'Kanit';
  text-anchor: end;
}

#hulls path {
  fill-opacity: 0.4;
  stroke-width: 2;
}
