
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#series path {
  fill: none;
}

#axes path {
  stroke: #0c0c0c;
  stroke-width: 1;
}

#axes line {
  stroke: #0c0c0c;
  stroke-width: 1;
}

#tooltip {
  position: absolute;
  font-family: 'Montserrat';
}
